<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

		<title>添加公司</title>

		<link rel="icon" href="/images/icon.png" />
		<link rel="stylesheet" href="/other/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/other/font-awesome-4.7.0/css/font-awesome.min.css" media="all" />
		<link rel="stylesheet" href="/css/public.css" media="all" />
	</head>

	<body class="childrenBody">
		<form class="layui-form" style="width:80%;">
			<div class="layui-form-item layui-row layui-col-xs12">
				<label class="layui-form-label">公司名称</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" name="name" value="${(info.name)!}" lay-verify="required|name" placeholder="请输入公司名称">
				</div>
			</div>
			<div class="layui-form-item layui-row layui-col-xs12">
				<label class="layui-form-label">门店数量</label>
				<div class="layui-input-block">
					<input type="number" class="layui-input" name="doorwayNum" value="${(info.doorwayNum)!}" lay-verify="required" placeholder="请输入门店数量">
				</div>
			</div>
			<div class="layui-form-item layui-row layui-col-xs12">
				<label class="layui-form-label">到期时间</label>
				<div class="layui-input-block">
					<input type="text" name="expireTime" placeholder="请选择到期时间" value="${(info.expireTime)!}" class="layui-input datepicker" />
				</div>
			</div>
			<div class="layui-form-item layui-row layui-col-xs12">
				<div class="layui-input-block">
					<button type="button" class="layui-btn" lay-submit="" lay-filter="create">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
			<input type="hidden" name="id" value="${(info.id)!}" class="id" />
		</form>
	</body>
	
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript" src="/other/layui/layui.js"></script>
	<script type="text/javascript" src="/js/global.js"></script>
	<script type="text/javascript" src="/js/user/orginfo.js"></script>

</html>