<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suizhu.work.model.mapper.ModelBuildMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suizhu.work.entity.ModelBuild">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="days" property="days" />
        <result column="sort" property="sort" />
        <result column="begin_day" property="beginDay" />
        <result column="model_id" property="modelId" />
    </resultMap>

</mapper>
